*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto','sans serif';
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.bg_animate{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, #51b6fa, #8a58ff);
    position: relative;
}
.header_nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header_nav .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.header_nav h1{
  color: white;
  font-family: 'Gagalin';
  
  text-shadow: 0 0 50px rgba(0, 68, 255, 0.671), 0 0 20px rgba(0, 119, 255, 0.671), 0 0 5px rgba(0, 17, 255, 0.671),  0 0 5px rgba(0, 26, 255, 0.671) ;
}
.header_nav nav a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    
}
.lugar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.lugar_title h2{
    color: white;
    font-style: 80px;
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: 0 0 50px rgba(0, 255, 128, 0.671), 0 0 20px rgba(0, 255, 170, 0.37), 0 0 5px rgba(0, 17, 255, 0.671),  0 0 5px rgba(0, 26, 255, 0.671) !important;
}

.lugar_title .llamanos{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2949;
    padding: 20px;
}
.lugar_img{
    animation: movimiento 2.5s linear infinite;
}
.lugar_img img{
    width: 500px;
    height: 500px;;
    display: block;
    border-radius: 50%;
}

/* burbujas */

.burbuja{
   
    background: #fff;
    opacity: .3;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    
    animation: burbujas 3s linear infinite ;

}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-delay: 2.5s;
    animation-duration: 3s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 90%;
    animation-duration: 10s;
    animation-duration: 3s;
}
.burbuja:nth-child(3){
    width: 50px;
    height: 50px;
    left: 15%;
    animation-duration: 3.9s;
    animation-delay: 4s;
}
.burbuja:nth-child(4){
    width: 40px;
    height: 40px;
    left: 25%;
    animation-duration: 2.5s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){
    width: 80px;
    height: 80px;
    left: 81%;
    animation-duration: 7s;
    animation-delay: 3s;
}
.burbuja:nth-child(6){
    width: 80px;
    height: 80px;
    left: 60%;
    animation-duration: 4s;
    animation-delay: 3s;
}
.burbuja:nth-child(7){
    width: 80px;
    height: 80px;
    left: 78%;
    animation-duration: 12s;
    animation-delay: 3s;
}
.burbuja:nth-child(8){
    width: 80px;
    height: 80px;
    left: 30%;
    animation-duration: 8s;
    animation-delay: 2.1s;
}
.burbuja:nth-child(9){
    width: 76px;
    height: 76px;
    left: 41%;
    animation-duration: 4s;
    animation-delay: 2.8s;
}
.burbuja:nth-child(10){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 7s;
    animation-delay: 10s;
}
@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    50%{
        opacity: .4
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0);
    }
}

.separador div{
    background:linear-gradient(to right, #4ab7ff, #6f31ff);
    width: 100%;
    height: 500vh;
}
.separador div h3{
    color: white;
  font-family: 'comic sans';
  font-size: 40px;
  text-shadow: 0 0 50px rgba(113, 187, 255, 0.671), 0 0 20px rgba(113, 179, 253, 0.671), 0 0 20px rgba(106, 116, 255, 0.671),  0 0 50px rgba(0, 26, 255, 0.671) ;

}
.separador1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.separador1{
    animation: mov 15s infinite;
    animation-delay: 1s;
}
.pr1{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(0, 255, 136) ,0 0 10px rgb(0, 255, 191) ,0 0 20px rgb(0, 255, 136) ,0 0 10px rgb(0, 255, 191);
  display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
  animation-delay: 0s;
  
}
.pr2{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(0, 255, 213) ,0 0 10px rgb(0, 255, 221),0 0 20px rgb(0, 255, 213) ,0 0 10px rgb(0, 255, 221);
  display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
  animation-delay: 1s;
}
.pr3{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(0, 255, 234) ,0 0 10px rgb(0, 195, 255), 0 0 20px rgb(0, 255, 234) ,0 0 10px rgb(0, 195, 255);
display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
animation-delay: 2s;
}
.pr4{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(0, 153, 255) ,0 0 10px rgb(0, 110, 255),0 0 20px rgb(0, 153, 255) ,0 0 10px rgb(0, 110, 255);
display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
animation-delay: 3s;
}
.pr5{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(0, 119, 255) ,0 0 10px rgb(0, 132, 255),0 0 20px rgb(0, 119, 255) ,0 0 10px rgb(0, 132, 255);
display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
animation-delay: 4s;
}
.pr6{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(0, 47, 255) ,0 0 10px rgb(0, 60, 255),0 0 20px rgb(0, 47, 255) ,0 0 10px rgb(0, 60, 255);
display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
animation-delay: 5s;
}
.pr7{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(4, 0, 255) ,0 0 10px rgb(0, 38, 255) 0 0 20px rgb(4, 0, 255) ,0 0 10px rgb(0, 38, 255);
display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
animation-delay: 6s;
}
.pr8{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(25, 0, 255) ,0 0 10px rgb(68, 0, 255),0 0 20px rgb(25, 0, 255) ,0 0 10px rgb(68, 0, 255);
display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
animation-delay: 7s;
}
.pr9{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(68, 0, 255) ,0 0 10px rgb(38, 0, 255), 0 0 20px rgb(68, 0, 255) ,0 0 10px rgb(38, 0, 255);
display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
animation-delay: 8s;
}
.pr10{
    border: double 5px white;
  max-width: 550px;
  max-height: 130px;
  box-shadow: inset 0 0 20px rgb(153, 0, 255) ,0 0 10px rgb(76, 0, 255),0 0 20px rgb(153, 0, 255) ,0 0 10px rgb(76, 0, 255);
  display: flex  ;
  justify-content: space-between;
  animation: mov 15s infinite;
animation-delay: 9s;
}
.separador1 h4{
 color: #1A2949;
 text-shadow: 0 0 50px rgba(47, 0, 255, 0.671), 0 0 20px rgba(55, 0, 255, 0.671), 0 0 5px rgba(132, 0, 255, 0.671),  0 0 5px rgba(140, 0, 255, 0.671);
}
@keyframes mov{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0);
    }
        
    
}
.sd{
    color: rgb(0, 0, 0);
  font-family: 'Gagalin';
  
  text-shadow: 0 0 50px rgba(0, 68, 255, 0.671), 0 0 20px rgba(0, 119, 255, 0.671), 0 0 5px rgba(0, 17, 255, 0.671),  0 0 5px rgba(0, 26, 255, 0.671) ;


}
.sf{
    color: rgb(0, 0, 0);
  font-family: 'Gagalin';
  
  text-shadow: 0 0 50px rgba(0, 68, 255, 0.671), 0 0 20px rgba(0, 119, 255, 0.671), 0 0 5px rgba(0, 17, 255, 0.671),  0 0 5px rgba(0, 26, 255, 0.671) ;


}
